@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Neue-Montreal;
  src: url('../fonts/PPNeueMontreal-Thin.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}
